.btn_a a{
    text-decoration: none;
}

.button_section2 {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;
    margin: auto;
    z-index: 1;
    margin-top: -2rem;
    position: relative;
    background-color: #E1B57C;
    display: inline-block;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: #E1B57C;

    &__text{
        margin-bottom: 0px !important;
        margin-bottom:0rem !important;
        font-size: 17.6px;
        font-size: 1.1rem;
        padding-top: 1.6px;
        padding-top: 0.1rem;
    }

    &__img{
        vertical-align: middle;
        width: 13%;
    }
    &:hover{
        color: #E1B57C;
        background-color: white;
        transition: 0.5s;
    }

    &:hover .button_section2__img{
        width: 0px;
    }

    &:hover .button_section2__text{
        justify-content: center !important;
        width: 100%;
    }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(0px, 1px); transform: translate(0px, 1px); }
    50% { -webkit-transform: translate(8px, 1px); transform: translate(-8px, 1px); }
    100% { -webkit-transform: translate(0px, 1px); transform: translate(0px, 1px); }
  }

@keyframes shake {
    0% { -webkit-transform: translate(0px, 1px); transform: translate(0px, 1px); }
    50% { -webkit-transform: translate(-8px, 1px); transform: translate(-8px, 1px); }
    100% { -webkit-transform: translate(0px, 1px); transform: translate(0px, 1px); }
  }