.slide_home{
    margin: auto;
    .home__img{
        height: 75vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slick-slide{
        padding-left: 50px;
        padding-right: 50px;
    }
    .slick-list{
        padding: 0px 100px !important;
    }
}

.prev{
    z-index: 1;
}

.next{
    z-index: 1;
}


.slide_home_section{
    margin-top: 10rem;

    @include media-breakpoint-down(sm) { 
        margin-top: 12rem;
    }

        &__line{
            margin-top: 3rem;
            margin-bottom: 4rem;
            margin-right: auto;
            margin-left: auto;
            height: 1px;
            background-color: $beje;
        }

    &__arrows{
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 40vh;

        &__mobile{
            display: none;
        }
    }

    &__bigtitle{
        width: 78%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;

        a{
            color: $azul_cards;
            text-decoration: none;
            font-size: 1.125rem;
        }

        .title-home{
            color: $beje !important;
            font-size: 2.3rem;
            margin: 0;
            @include text-no-min(2.4rem, 1);
            min-height: unset;

        }

        .local-place{
            color: $beje !important;
            font-size: 1.125rem;
            @include text-no-min(1.3rem, 1);
        }
        
    }

    &__container_info{
        width: 85%;
        margin-left: 10%;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-breakpoint-down(lg) { 
            width: 100%;
        }

        @include media-breakpoint-down(md) { 
            margin-left: 0;
            margin-top: 3rem;
        }

        @include media-breakpoint-down(sm) { 
            width: 100%;
            
        }

            &__amenities{
                display: flex;
                flex-wrap: wrap;

                &__individual{
                    display: flex;
                    width: 45%;
                    margin-right: 5%;
                    margin-top: 1.5rem;
                    margin-bottom: 0.5rem;
                    align-items: center;

                }
            }

        &__bigtitle{
            
        .title-home{
            font-weight: 400;
            @include limite-text(2rem, 1);
        }

        .local-place{
            font-weight: 400;
        }

        &__line{
            border-bottom-color: #D2D2DC;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            margin-bottom: 2.5rem;
        }
        }

        a{
            text-decoration: none;
        }

        &__rating{
            border-color: #EAEBF4;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            padding: 0;
            height: 100%;

            
        @include media-breakpoint-down(sm) { 
            margin-top: 2rem;
        }
            
            
            &__field{
                padding-top: 2rem;
            }

            &__top{

                &__field{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    padding-top: 3rem;
                    padding-bottom: 3rem;

                    &__line{
                        margin-right: 1rem;
                        margin-left: 1rem;
                        border-bottom-color: #EAEBF4;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                    }
    
                    &__avaliation{
    
                        &__field{
                            background-color: $azul_cards;
                        border-radius: 10px;
                        border-bottom-left-radius:0px;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                            
                        }
    
                    }
                }
            }
            
            &__field{
                display: flex;
                justify-content: center;
                padding: 1rem;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                margin-top: 1rem;
                
                &__img{
                    margin-left: 7px;
                }
            }
        }

        &__features{
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
            border-bottom-color: #D2D2DC;
            border-bottom-width: 1px;
            border-bottom-style: solid;

            &__data{
                &__individual{
                    margin-bottom: 0.5rem;
                    margin-top: 1.5rem;
                }
            }
        }

        &__mapa_sec{
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0;
            padding-right: 0;
        }

        &__mapa{
            padding: 0;

            &__iframe{
                width: 100%;
                height:370px;
            }
        }
    }
}

.more{
    color: $azul_cards;
    font-size: 1.125rem;
}

.text_contaiener__gradient{
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
}

@include media-breakpoint-down(lg) { 
    .text_contaiener{
        margin-bottom: 3rem;
    }
    .slide_home .slick-slide {
         padding-left: 30px;
         padding-right: 30px;

         .home__img {
            min-height: 50vw;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vw;
        }
    }

    .slide_home {
        .slick-list{
            padding: 0px 90px !important;
        }
    }

    .slide_home_section__arrows {
        margin-top: 25%;
    }

    .slide_home_section{

        &__container_info__mapa{
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        &__container_info__mapa_sec{
            margin-top: 0;
            margin-bottom:0;
            padding: 0;
        }
    }
 }



@include media-breakpoint-down(md) { 
    .text_contaiener{
        margin-bottom: 3rem;
    }
    .slide_home .slick-slide {
         padding-left: 30px;
         padding-right: 30px;

         .home__img {
            min-height: 50vw;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vw;
        }
    }
    
    .slide_home {
        .slick-list{
            padding: 0px 55px !important;
        }
    }

    .slide_home_section{

        &__container_info__mapa{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        &__arrows {
        width: 95%;
        margin-top: 30%;

            .prev .next{
                margin: 0;
            }
        }
    }

}

@include media-breakpoint-down(xs) { 

    .text_contaiener{
        margin-bottom: 3rem;
    }
    .slide_home .slick-slide {
         padding-left: 10px;
         padding-right: 10px;

         .home__img {
            min-height: 50vw;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vw;
        }
    }
    
.slide_home {
    .slick-list{
        padding: 0px 20px !important;
    }
}

    .slide_home_section{
        &__container_info{
            width: 100%;
            margin: auto;
            display: block;

            &__features{

                &__data{

                    margin-bottom: 3rem;

                    &__individual{
                        width: 100% !important; 
                    }
                }
            }
            
            &__mapa_sec{
                flex-wrap: wrap;
            }
        }

        &__arrows{
            display: none;

            &__mobile{
                display: flex;
                position: absolute;
                margin-top: 30%;
                z-index: 1;
                width: 90%;
                justify-content: space-between;
            }
        }
    }


    
    .home_form{


        &__container{
            width: 100% !important;
            margin: 0;
        }

        &__policy{
            width: 100% !important;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }

}