.slide_home_section__container_info{

    &__rating{
        &__top{

            &__field{
                &__avaliation{
                    color: $azul_cards;
                    font-family: $font-Source;
                    font-weight: 600;
                    font-size: 2.4rem;
                    width: 70%;
                    @include limite-text(2.7rem, 1);
                    @include letter-spacing(20, 2.4);
                    
                    &__field{
            
                        
                        &__value{
                            color: white;
                            font-family: $font-Source;
                            font-weight: 700;
                            font-size: 1.5rem;
                            margin-bottom: 0;
                            @include  text-no-min(1.5rem, 1);
                        }
                    }
                }
    
                &__field2{
                    color: $azul_claro;
                    font-size: 1rem;
                    font-family: $font-Source;
                    font-weight: 600;
                    margin-bottom: 0;
                    @include limite-text(1.5rem, 1);
                    @include letter-spacing(20, 1);
            
                    &__value{
                        color: $azul_claro;
                        font-size: 2.3rem;
                        font-family: $font-Source;
                        font-weight: 600;
                        margin-bottom: 0;
                        @include limite-text(2.5rem, 1);
                        @include letter-spacing(20, 1);
                    }

                    .home_form{
                        padding: 0;
                    }
                }
            }
        }
    
        &__field{
            background-color: $azul_claro;
            padding: 1.5rem;

            &__reserv{
                color: white;
                font-family: $font-Source;
                font-size: 1.5rem;
                font-weight: 600;
                margin-right: 7px;
                @include limite-text(1.6rem, 1);
                min-height: unset;
                margin-bottom: 0;
            }

            &__buy{
                background-color: $beje;
            }
        }
    }


    &__amenities{

        &__individual{

            h4{
                font-size: 1rem;
                color: $azul_cards;
                font-family: $font-Source;
                letter-spacing: 0.02rem;
                margin-left: 1.5rem;
                margin-bottom: 0;
                @include limite-text(1.3rem, 1);
                @include letter-spacing(20, 1);
            }

        }
    }

    &__features{
        .title-home{
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            line-height: 2rem;
            min-height: 2rem;
            max-height: 2rem;
        }
        &__data{
            display: flex;
            flex-wrap:wrap ;
            &__individual{
                display: flex;
                width: 50%;

                h3{
                    min-width: 100px;
                    max-width: 100px;
                    font-family: $font-Source;
                    font-size: 1rem;
                    color: $azul_cards;
                    margin-right: 3rem;
                    @include letter-spacing(20, 1);
                }

                h4{
                    font-family: $font-Source;
                    font-size: 1rem;
                    color: $azul_cards;
                    font-weight: 600;
                    
                    @include letter-spacing(20, 1);
                }
            }
        }
    }

    &__mapa{
        &__adress{
            margin-top: 2rem;

            h3{
                font-family: $font-Source;
                font-size: 1.125rem;
                color: $azul_cards;
                margin-right: 3rem;
                font-weight: 700;
                @include limite-text(1.3rem, 1);
                @include letter-spacing(20, 1.125);
            }
    
            h4{
                font-family: $font-Source;
                font-size: 1rem;
                color: $azul_cards;
                width: 65%;
                @include limite-text(1.2rem, 2);
                @include letter-spacing(20, 1);
            }
        }
    }
}

.home_form__title{
    h4{
        color: $azul_cards;
        font-size: 1.5rem;
        font-family: $font-Gelasio;
        font-weight: 400;
        width: 90%;
        margin:auto;
        @include limite-text(1.6rem, 2);
    }
}

.home_form__policy{
    font-family: $font-Source;
    font-size: 0.825rem;
    color: $beje;
    @include text-no-min(1.3rem, 2);
    @include letter-spacing(20, 0.825);
    a{
        color: $beje;
        text-decoration: none;
    }
}

.morelink{
    color: $beje;
    text-decoration: none;
    margin-top: 2rem;
    margin-right: 1rem;
}

.morelink:hover{
    color: $beje;
}



.arrow_less{
    transform: rotate(180deg);
 
}





@include media-breakpoint-down(md) { 
    .slide_home_section__bigtitle{


        .title-home{
            font-size: 2rem;
            @include text-no-min(2.1rem, 2);
        }
    }
    .home_form__policy{
        width: 55%;
        @include text-no-min(1rem, 4);
    }
}

@include media-breakpoint-down(xs) { 
    
    .home_form{

        padding: 0;

        &__container{
        }

        &__policy{
            @include text-no-min(1rem, 4);
            @include letter-spacing(20, 0.825);
        }
    }

    .slide_home_section__bigtitle{

        display: block;
        margin-bottom: 0;

        .title-home{
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            @include text-no-min(2rem, 3);
        }
    }

    .home_form__title{
        h4{
            @include limite-text(1.6rem, 4);
        }
    }
}

.home_ind__container{

        &__invest{
            font-family: $font-Gelasio;
            font-size: 1.7rem;
            font-weight: 300;
            color: $azul_cards;
            line-height: 34px;

            @include media-breakpoint-down(sm) { 
                font-size: 1.5rem;
            }

            &-title{
                font-family: $font-Gelasio;
                font-size: 1.8rem;

                @include media-breakpoint-down(sm) { 
                    font-size: 1.4rem;
                }
            }

            &-description{
                font-family: $font-Source;
                font-size: 1.2rem;
                font-weight: 300;
                color: $azul_cards;
                line-height: 34px;
                @include media-breakpoint-down(sm) { 
                    font-size: 1.3rem;
                }
            }

            &-documents{
                font-family: $font-Gelasio;
                font-size: 1.2rem;
                font-weight: 300;
                color: $azul_cards;
                line-height: 34px;
                margin-bottom: 0;
                @include media-breakpoint-down(sm) { 
                    font-size: 1rem;
                }
            }
            
            &-download{
                font-size: 1.1rem;
                margin-bottom: 0;
                margin-right: 1rem;
                color: $beje;

                @include media-breakpoint-down(sm) { 
                    font-size: 0.9rem;
                }
            }

            &-sec-title{
                font-family: $font-Gelasio;
                font-size: 1.9rem;
                color: $beje;
            }
        }
}