.whatweoffer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: auto;
    margin-top: 7.5rem;

    @include media-breakpoint-down(sm) {
        margin-top: 4rem;
    }

    &__title{
        font-size: 2.3rem;
        font-family: $font-Gelasio;
        color: $azul_cards;
        margin-bottom: 3.75rem;

        &__sub{
            font-size: 1.125rem;
            font-family: $font-Source;
            color: $azul_cards;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }

    .card{
        border: none;
        border-bottom-color: $bordas;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-bottom: 1.875rem;

        &:last-of-type{
            border: none;
        }

        &-header{
            background-color:transparent;
            padding: 0;
            border: none;

            h5{
                margin-bottom: 0;
            }

            .btn{
                padding: 0;
                margin-bottom: 1rem;
                color: $azul_claro;
                font-family: $font-Source;
                font-size: 1.5rem;
                text-decoration: none;
                font-weight: normal;
            }
        }

        &-body{
            padding: 0;

            p{
                
            }
        }
    }
}

.card-body_p{
    font-size: 1rem;
    font-family: $font-Source;
    color: $azul_cards;
    padding-bottom: 30px;
}

.cards_offer{
    background-color:#EAEBF4;
    margin: auto;
    margin-top: 7.5rem;
    padding-top: 3rem;
    padding-bottom: 7.5rem;

    .section2{
        margin-bottom: unset;
    }
}

.topic_container{
    display: flex;
    margin-bottom: 1.875rem;
}


.ourteam{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 15rem;
    margin-top: 7.5rem;

    &__container{

        .whatweoffer__title{
            margin-bottom: 2rem;
        }
    }

    &__none{
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.buisness_img{
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}
